* {
  margin: 0;
  padding: 0;
}

nav	{
	font-size: 0.8em;
	font-family: 'Catamaran', sans-serif;
}

p	{
	font-family: sans-serif;
	line-height: 1.5em; 
	font-family: 'Anaheim', sans-serif;
}

h1, h2, h3 {
font-family: 'Catamaran', sans-serif;
letter-spacing: 0.2;	
color: #181818;
}

a 	{
font-size: 1em;
text-decoration: none; 
color: #181818 ;
font-family: 'Catamaran', sans-serif;
letter-spacing: 0.3;
}

img {
	width: 100%;

}

video {
	width: 100%;
}


li {
	list-style-type: none;
}

footer {
	text-align: center;
	margin: 4em;
}

.site { 
	border: none;
	margin: 3em 20em;
	min-height: 90vh;
	flex-direction: column;
	display: flex;

}


.menuepunkt {
	margin-left: 2em;
	float: right;
}


.flex-header {
	display: flex;
}

.flex-item {
	

}

.flex-body {
	display:flex;
}

.flex-index {
	display: flex;
}

.logo {
	flex-basis: 100px;

}

.nav {
	flex-basis: 100%;
	text-align: right;
}


.img {
	flex-basis: 50%;
}

.menue_transition {
	flex-basis: 50%;
}

.text {
	flex-basis: 25%;
}

.liste {
	justify-content: center;
	align-content: : center;
	display: flex;
	font-size: 1.5em;
	flex-basis: 100%;
	text-align: center;
}

.wrapper {
	display: flex;
	flex: 1;
	flex-basis: 50%;
}

.email {
	font-size: 0.7em;
}

.flex-video {
	text-align: center;
}

.video {
	width: 100%;
}

.element_right {
	display: flex; 
	
}

.right {
	display: flex;
	flex-basis: 50%;
}

.blank {
	flex-basis: 50%;
	
}


.mockup2 {

	
}

.formate {
	
	
}

.element_left {
	display: flex;
	
}

.left {
	display: flex;
	flex-basis: 50%;
}

.farbverwendung {
	
	
	text-align: left;
}

.mockup3 {
	
	text-align: left;
}