* {
  margin: 0;
  padding: 0;
}

nav	{
	font-size: 1em;
	font-family: 'Catamaran', sans-serif;
}

p	{
	line-height: 1.5em; 
	font-family: 'Anaheim', sans-serif;
	hyphens: auto;
}

h1, h2, h3 {
font-family: 'Catamaran', sans-serif;
letter-spacing: 0.2px;	
color: #181818;
margin-bottom: 1em;
}

a 	{
font-size: 1em;
text-decoration: none; 
color: #181818 ;
font-family: 'Catamaran', sans-serif;
letter-spacing: 0.3;
}

img {
	width: 100%;
}

li {
	list-style-type: none;
}

footer {
	text-align: center;
	margin: 4em;
	font-size: 0.8em;
}

video {
	width: 100%;
}

.responsive-video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
padding-top: 0px;
height: auto;
overflow: hidden;
margin-bottom: 6em;
}

.site { 
	border: none;
	margin: 3em 20em;
	min-height: 90vh;
	flex-direction: column;
	display: flex;
}

.menuepunkt {
	margin-left: 2em;
	float: right;
}

.flex-header {
	display: flex;
	margin-bottom:  4em;
}

.flex-body {
	display:flex;
}

.flex-index {
	display: flex;
}

.logo {
	flex-basis: 100px;
}

.nav {
	flex-basis: 100%;
	text-align: right;
}

.img {
	flex-basis: 50%;
}

.text {
	flex-basis: 25%;
}

.text2 {
	flex-basis: 50%;
}

.text3 {
	flex-basis: 40%;
}

.liste {
	justify-content: center;
	align-content: center;
	display: flex;
	font-size: 1.8em;
	flex-basis: 100%;
	text-align: center;
}

.wrapper {
	display: flex;
	flex: 1;
	flex-basis: 50%;
}

.email {
	font-size: 0.7em;
}

.right {
	display: flex;
	flex-basis: 50%;
}

.left {
	display: flex;
	flex-basis: 50%;
}

.fabel_right {
	display: flex;
	flex-basis: 75%;
}

.blank {
	flex-basis: 50%;
	}

.blank2 {
	flex-basis: 10%;	
}


.totale {
	display: flex;
	margin-bottom: 6em;
	align-items: center;
	justify-content: center;
}

.img_totale {
	flex-basis: 100%;
}

.column1 {
	display: flex;
	margin-bottom: 6em;
}


.column2 {
	display: flex;
	margin-bottom: 6em;
}

.column3 {
	display: flex;
	margin-bottom: 6em;
}

.img_seitlich {
	text-align: center;
	line-height: 100%;
}

.img_column1 {
	text-align: center;
	line-height: 100%;
}

.img_column2 {
	text-align: center;
	line-height: 100%;

}

.img_column3 {
	text-align: center;
	line-height: 100%;
}

.between {
	flex-basis: 5em;
}

.img_klein {
	flex-basis: 25%;
}

/* typografie vita */

.vita_text {
 margin-right: 15em;
	margin-left: 4em;
}

.vita_text a {
	font-family: 'Anaheim', sans-serif;
}

.impressum {
font-size: 0.7em;
 margin-top: 6em;
 text-align: center; 
}

ul {
	margin-top: 4em;
	margin-bottom: 4em;
}

/*typografie globale klassen */

.credits {
	font-size: 0.8em;
	font-family: 'Catamaran', sans-serif;
	margin-top: 1em;
}

 /* mediaquerrie, breakpiont auflösung laptop */
@media (max-width: 1920px) {
  
.site { 
	margin: 3em 5em;
}

.text {
	flex-basis: 35%;
}
  
}

@media (max-width: 500px) {

h1 {
	font-size: 1.5em;
}

h2 {
font-size: 1.2em;
}

p {
	font-size: 0.9em;
}

.liste {
	font-size: 1.2em;
}

.site { 
	margin: 1em 1em;
}

.flex-header {
	margin-bottom:  1em;
}

.between {
	flex-basis: 1em;
}
	
.blank {
	flex-basis: 10%;	
}

.column1, .column2, .column3 {
	margin-bottom: 2em;
}

.column2, .column3 {
	flex-direction: column;
}	

.text {
	flex-basis: 100%;
}

.text3 {
	flex-basis: 100%;
}

.totale {
	margin-bottom: 2em;
}

.right {
	flex-direction: column;
}

.left {
	flex-direction: column;
}

.nosmartphone {
	display: none;
	}
}

